* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav ul {
    list-style: none; 
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline; 
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px; 
}

header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list {
    list-style: none; 
    padding: 16px 0; 
}

.brands-list li {
    display: inline;
    margin-right: 16px; 
}

.brands-list img {
    height: 24px;
    vertical-align: middle; 
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

section .store-front {
    margin-right: 32px;
}

section .container {
    align-items: flex-start;
}